*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    font-size:6vw;
    color: rgb(207, 45, 72);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body{
    background-color: pink;
}

header{
    max-width: 400px;
    margin: 10px auto;
}

h1{
    font-family: "Basic", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 6vw;
    text-align: center;
    padding: 10px;
    color: rgb(207, 45, 72);
    text-shadow: 2px 2px 5px white;
}

main{
    display:flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 10px auto;
}

section{
    flex: 50%;
    display: flex;
    justify-content: space-around;
}

.backgroundtemp{
    text-align: center;
    width: 20vw;
    aspect-ratio: 1 / 1; 
    background-color: white;
    margin: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 50%;

    background: 
    radial-gradient(white 45%, pink 45%,transparent 55%, transparent),
    conic-gradient(from 180deg, rgb(164, 119, 232) 24.5%, rgb(237, 226, 253) 24.5%,rgb(237, 226, 253) 25.5%, rgb(209, 197, 227) 25.5%);
}

.background{
    text-align: center;
    width: 20vw;
    aspect-ratio: 1 / 1; 
    margin: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 50%;
}

toSave{
    background: 
    radial-gradient(white 45%, pink 45%,transparent 55%, transparent,rgba(0,0,0,0)),
    conic-gradient(from 180deg, rgba(255, 255, 255, 0.701));
}

.background:hover{
    cursor: pointer;
    box-shadow: 0px 0px 12px white;
}

.complete{
    text-align: center;
    width: 20vw;
    aspect-ratio: 1 / 1; 
    margin: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 50%;
}

.complete span{
    font-size:6vw;
    color: rgb(0, 173, 95);
}

.complete:hover{
    cursor: default;
}


.background4{
    text-align: center;
    width: 20vw;
    aspect-ratio: 1 / 1; 
    margin: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 50%;

    background: 
    radial-gradient(white 45%, pink 45%,transparent 55%, transparent),
    conic-gradient(from 179.5deg,
    pink 0%,
    pink 1%,
    rgb(254, 104, 129) 1%, 
    rgb(254, 104, 129) 25%, 
    pink 25%,
    pink 26%, 
    rgba(255, 255, 255, 0.701) 26%,
    rgba(255, 255, 255, 0.701) 50%,
    pink 50%,
    pink 51%,
    rgb(255, 255, 255, 0.701) 51%,
    rgb(255, 255, 255, 0.701)  75%,
    pink 75%,
    pink 76%,
    rgb(255, 255, 255, 0.701)  76%
    );
}
